{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block logout %}
<form action="{{ url_for('logout') }}" method="POST">
  <button class="btn btn-light" type="submit">Log out</button>
</form>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <h1>{{ title }} by {{ author }}</h1>
    <h4>isbn: {{ isbn }}</h4>
    <h4>year: {{ year }}</h4>
    <h2>Goodreads rating</h2>
    <h4>Total reviews: {{ total_reviews }}</h4>
    <h4>rating: {{ avg_review }}</h4>
  </div>
</div>


<div class="row">
  <div class="col">
    <h1>Reviews</h1>
    {% if reviews %}
    {% for (name, date, rate, revision_text) in reviews %}
    <h4>{{ name }} on {{ date }}</h4>
    <p>{{ rate }} / 5 </p>
    <p>{{ revision_text }}</p>
    {% endfor %}
    {% else %}
    <p>There are no reviews left by Bookeeper users. Be the first!</p>
    {% endif %}
      <a class="btn btn-primary" href="{{ url_for('submit_review', isbn=isbn) }}">Add review</a>
  </div>
</div>

{% endblock %}
