{% extends "layout.html" %}

{% block title %}
Search for books
{% endblock %}

{% block logout %}
<form action="{{ url_for('logout') }}" method="POST">
  <button class="btn btn-light" type="submit">Log out</button>
</form>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      {% if name is defined %}
      <h1>Hallöchen {{name}}! Start searching for books!</h1>
      {% endif %}
    </div>
  </div>

  <div class="row mt-2 mb-3">
    <div class="col">
      <form action="{{ url_for('books') }}" method="GET">
        <div class="input-group input-group-lg">

          <input
            name="search_input"
            type="text"
            class="form-control"
          {% if search_string %}
            value="{{ search_string }}"
          {% else %}
            placeholder="Search by isbn, title or author"
          {% endif %}
            aria-describedby="button-addon2"
          >

          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if error is defined %}
        <p>{{ error }}</p>
      {% endif %}
    </div>
  </div>

  <div class="row mt-2 mb-3">
    <div class="col">
      {% if books is defined %}
      <ul class="list-group">
        {% for (isbn, title, author) in books %}
          <li class="list-group-item"><a href="{{ url_for('book_page', isbn=isbn) }}">{{ title }}</a> written by {{ author }}</li>
       {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

{% endblock %}
