{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block Login_Logout %}
<!--- On a Registartion form we don't show any options in the right corner.
The Log in option will be suggested on this form itself.--->
{% endblock %}

{% block body %}
<h1>Log in</h1>
<form>
  <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="InputPassword">Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}
